body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  z-index: 100;
}

.top-nav {
  background-color: mediumaquamarine;
}

.tyuui {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 5%;
  padding: 1%;
}