extends ../layout 

block content
  h1 #{title}
  p.my-2 ログインする前に、ユーザー登録を済ませてください
  p.text-danger #{content}
  form(method="post" action="/users/login")
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.form-group.mt-5
      label(for="name") 名前： 
      input(type="text" name="name" id="name" class="login").form-control
    div.form-group.mt-5
      label(for="pass") パスワード：
      input(type="text" name="pass" id="pass" class="login").form-control
    button(type="submit").btn.btn-primary.mt-3 ログイン
    div.my-5
      a(href="/users/add") ユーザー登録

  h3.mt-5 動作確認には以下のユーザーをお使いください
  ul 一般ユーザー
    li ユーザー名：user1
    li パスワード：1234
  ul 監理者
    li ユーザー名：admin
    li パスワード：admin