extends ../layout 

block content
  h1 #{title}
  p.my-2 ログインする前に、ユーザー登録を済ませてください
  p.text-danger #{content}
  form(method="post" action="/users/login")
    div.form-group.mt-5
      label(for="name") 名前： 
      input(type="text" name="name" id="name" class="login").form-control
    div.form-group.mt-5
      label(for="pass") パスワード：
      input(type="text" name="pass" id="pass" class="login").form-control
    button(type="submit").btn.btn-primary.mt-3 ログイン
    div.mt-5
      a(href="/users/add") ユーザー登録